<h1 class="ms-3 mt-3">Stupid Coaching</h1>
<form action="/answer" data-turbo="false" class="mx-3">
  <label for="question" class="pb-2">Ask your coach anything:</label>
  <div class="input-group">
    <input type="text" name="question" id="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
